<h1>User Home</h1>
<div class="well">
    <h4>Welcome, {{user.name}}!</h4>
    <dl class="dl-horizontal">
        <dt>provider</dt><dd>{{user.provider}}</dd>
        <dt>email</dt><dd>{{user.email}}</dd>
    </dl>
</div>
<a href="/" class="btn btn-info">Move to Home</a>
