<h1>Login</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 well">
            <h4>delegated authentication</h4>
            so that not saving user's id and password for security issue.
            just keeping less sensitive user's infos, 
            such as user's email and name of authentication provider.<br>
            Please login via following authentication providers.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <p><a href="/auth/facebook?redirect={{redirect}}" role="button" class="btn btn-primary btn-lg btn-block">Facebook</a></p>
        </div>
        <div class="col-xs-offset-1 col-xs-10">
            <p><a href="/auth/google?redirect={{redirect}}" role="button" class="btn btn-warning btn-lg btn-block">Google</a></p>
        </div>
    </div>
</div>

{{!--{{#section 'jquery'}}
    <script>
        $(document).ready(function(){
            $('a').attr('href', function(i, val){
                var url = new URL(document.referrer);
                return val + '?redirect=' + encodeURIComponent(url.pathname);
            });
        });
    </script>
{{/section}}--}}