/* ==========================================================================
   custom styles
   ========================================================================== */
body { background-image: static("/img/background.png"); }
.table { display: table; }
.cell { display: table-cell; padding: 4px; border: solid 1px #ccc; }
a.currency { text-decoration: none; }
.currency.selected { font-weight: bold; font-size: 150%; }