# ignore package from npm installed package.
node_modules
# certificate file for cookie secret.
credentials.js
# API tests
qa/tests-api.js
# Verify SMTP connection configuration.
qa/tests-smtp-connection.js
# log and binary data
log/
data/
# etc.
.DS_Store
*~