<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <header><img alt="Meadowlark Travel Logo" src="/img/logo.png">
        {{{body}}}
    </body>
</html>