<p>Thank you for booking your tirp with Meadowlark Travel, <b>{{cart.billing.name}}</b>!</p>
<p>Your reservation number is <b>{{cart.number}}</b>, and an email has been
sent to <b>{{cart.billing.email}}</b> for your records.</p>