<h3>Welcome to Meadowlark Travel</h3>
<div class="container-fluid">
	<div class="row">
		<div class="pull-left"><h4>Check out our featured tour packages:</h4></div>
		<div class="pull-right"><a href="/vacation" class="btn btn-default btn-xs">more</a></div>
	</div>
</div>
{{> vacation}}
{{> weather}}
