/* ==========================================================================
   Custom Global Styles
   ========================================================================== */
/* Global Layout */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  position: relative;
  width: 100%;
  height: 30px;
}
nav {
  position: relative;
  width: 100%;
  height: 186px;
}
section {
  margin: -216px 0 -28px;
  width: 100%;
  min-height: 100%;
}
section #content {
  padding-top: 216px;
  padding-bottom: 28px;
}
footer {
  width: 100%;
  height: 28px;
}
/* Global Style */
body {
  background-image: url("/img/background.png");
}
header div.row:first-child,
footer div.row:first-child {
  padding: 4px;
  background-color: black;
  color: white;
}
li {
  border-top: solid 1px #ccc;
}
li:last-child {
  border-bottom: solid 1px #ccc;
}
a.currency {
  text-decoration: none;
}
.currency.selected {
  font-weight: bold;
  font-size: 150%;
}
.dealers #map {
  width: 100%;
  height: 400px;
}
.twitter-tweet {
  font-size: 12px;
}
.v-margin {
  margin: 10px 0;
}
.v-center {
  display: inline-block;
  vertical-align: middle;
}
