/* ==========================================================================
   custom styles
   ========================================================================== */
.table{display: table}
.cell{display: table-cell}
a.currency {
    text-decoration: none;
}
.currency.selected {
    font-weight: bold;
    font-size: 150%;
}