<div class="row">
    <div class="col-xs-8">
        <h1>Vacations</h1>
        {{> vacation}}
        <hr>
        <p>Currency:
            <a href="/set-currency/usd" class="currency {{currencyUSD}}">USD</a> |
            <a href="/set-currency/gbp" class="currency {{currencyGBP}}">GBP</a> |
            <a href="/set-currency/btc" class="currency {{currencyBTC}}">BTC</a>
        </p>                
    </div>
    <div class="col-xs-4">
        <h4>On Twitter:</h4>
        {{{topTweets}}}
        <hr>
    </div>
</div>
