{{#section 'head'}}
    {{!--we want Google to ignore this page--}}
    <meta name="robots" content="noindex">
{{/section}}

<h1>Request Group Rate</h1>
<form class="form-horizontal" role="form" action="/vacation/{{slug}}/request-group-rate" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    <input type="hidden" name="referer">
    <input type="hidden" name="slug" value="{{slug}}">
    <div class="form-group has-feedback">
        <label for="fieldName" class="col-xs-2 control-label">Name:</label>
        <div class="col-xs-10">
            <input type="text"  class="form-control" id="fieldName" name="fieldName" required>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <label for="groupSize" class="col-xs-2 control-label">Group size:</label>
        <div class="col-xs-10">
            <input type="text"  class="form-control" id="groupSize" name="groupSize" placeholder="number of guests" required>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <label for="email" class="col-xs-2 control-label">Email:</label>
        <div class="col-xs-10">
            <input type="email"  class="form-control" id="email" name="email" placeholder="a@b.com" required>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
{{#section 'jquery'}}
    <script>
        $(document).ready(function(){
            $('input[name="referer"]').val(document.referer);
        });
    </script>
{{/section}}